<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
    <title></title>
</head>

<body class="ma3 ma4-m pa5-l bg-near-white georgia">
    <a href="/" class="f2 logo">DesuMoin</a>

    {% if quotes %}
    {% for quote in quotes %}
    <div class="mb4">
        <blockquote>
            <p style="white-space: pre-wrap;" class="mb1">{{ quote.text }}</p>
            <footer><cite class="ml3 pt0">{{ quote.citation }}</cite></footer>
        </blockquote>
    </div>
    {% endfor %}
    {% endif %}
</body>

</html>