<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
    <title>Welcome to the door.</title>
</head>

<body class="ma3 tc ma4-m pa5-l bg-near-white georgia">
    <a href="/" class="f2 logo">DesuMoin</a>

    <div id="app">
        <!-- authors, text, context, tags, featuring -->
        <div class="mv3">
            <em>Closed are the double doors of the horizon. Locked are its bows.</em>

            <div class="mv3">
                <form action="/gate" method="post">
                    <input type="password" name="passphrase">
                    <input type="submit" v-on:click="submit">
                </form>
            </div>
        </div>
    </div>
</body>

</html>