<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
</head>

<body class="ma3 bg-near-white georgia">
  <a href="/" class="f1 logo">DesuMoin</a>

  <div id="app">
    <!-- authors, text, context, tags, featuring -->
    <div class="mv3">
      <legend>Authors (comma delim.)</legend>
      <input placeholder="Ryan" v-model="authors">
    </div>

    <div class="mb3">
      <legend>Text</legend>
      <textarea rows="4" cols="50" placeholder="WTF WE ARE MEDITATING IN CLASS" v-model="text"></textarea>
    </div>

    <div class="mb3">
      <legend>Context</legend>
      <textarea rows="2" cols="50" placeholder="during Kerne’s domination workshop" v-model="context"></textarea>
    </div>

    <div class="mb3">
      <legend>Preview:</legend>
      <p class="pa3 bg-white" style="white-space: pre-wrap;">[[ preview ]]</p>
    </div>

    <!-- <div class="mb3">
      <legend>Data:</legend>
      <pre class="pa3 bg-black red textwrap">[[ submit_data ]]</pre>
    </div> -->

    <input type="submit" v-on:click="submit">

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="{{ url_for('static', filename='submit.js') }}"></script>
</body>

</html>